{{ define "main" }}
  {{ partial "page-header" (dict "Title" .Title) }}
  {{ partial "progress_indicator" }}

  <section class="section">
    <div class="container justify-content-center text-center py-10 rounded-xl">
      <div class="row">
        <!-- blog posts -->
        <div class="lg:col-12">
          <div class="row">
            {{ range .Data.Pages }}
              <div class="md:col-4 mb-4">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
