{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["README.md"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    }
  ]
}
